.section-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    /* background-color: #f0f0f0; */
    background-image: linear-gradient(to right, rgb(155, 54, 54) , rgb(38, 31, 186));
  }
  
  .section-box {
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .section-box a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .section-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration-color: #ddd;
  }

  @media (max-width: 900px) {
    .section-container {
        flex-direction: column;
        align-items: stretch;
    }

    .section-box {
        margin: 1rem 0;
        width: 85%;
    }
}
  
  @media (max-width: 400px) {
    .section-container {
        flex-direction: column;
        align-items: stretch;
    }

    .section-box {
        margin: 1rem 0;
        width: 70%;
    }
}
  